@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ecf0f3;
}

a {
  text-decoration: none;
  color: black;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 95%;
  margin: auto;
}
.mt120 {
  margin-top: 120px;
}

.mt80 {
  margin-top: 80px;
}

.mt40 {
  margin-top: 40px;
}

.flex {
  display: flex;
}

.sb-flex {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  outline: none;
  background-color: none;
}

.btn-shadow {
  padding: 18px 25px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  transition: 0.3s all ease;
}

.btn-shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.box-shadow {
  background: linear-gradient(145deg, #e2e8ec, #ffffff);
  box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
  padding: 18px 25px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
  transition: 0.3s all ease;
}

.btn-shadow:hover {
  background: #57c5e2;
  color: white;
  transform: translateY(-10px);
}

.left,
.right {
  width: 50%;
}

.heading {
  margin: 50px 0;
}

.heading h4 {
  letter-spacing: 2px;
  font-weight: 400;
  color: #57c5e2;
}

.heading h1 {
  font-size: 60px;
  color: #3c3e41;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px 35px;
}

body.active-modal {
  overflow-y: hidden;
}

/* Media queries */

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Footer */
.footer-img img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

footer {
  margin: 7% 0px;
}
